#container{
    width:      1400px;
    margin:     auto;
    background: gray;
}
#header{
  width:        20%;
  height:       40px;
  background:   orange;
  text-align:   center;
  margin:       auto;
  padding:      1%;
}
#nav{
  width:        98%;
  height:       20px;
  background:   pink;
  clear:        both;
  text-align:   center;
  padding:      1%;
}
#content{
  width:        98%;
  background:   magenta;
  clear:        both;
  text-align:   center;
  margin:       auto;
  padding:      1%;
}
#image1{
  width:        15%;
  height:       30px;
  background:   red;
  text-align:   center;
  padding:      1%;
  float:        left;
}
#image2{
  width:        15%;
  height:       30px;
  background:   red;
  text-align:   center;
  padding:      1%;
  margin-left:  25%;
  float:        left;
}
#image3{
  width:        15%;
  height:       30px;
  background:   red;
  text-align:   center;
  padding:      1%;
  float:        right;
}
