body{
  background-color: gray;
}

#container{
    width:      1870px;
    height:     1153px;
    margin:     auto;
    padding:    6px;
    background-color: lavender;
}
#header{
  width:        98%;
  margin:       auto;
}
#nav{
  width:        98%;
  height:       20px;
  background:   pink;
  clear:        both;
  text-align:   center;
  padding:      1%;
  font-size:    18px;

}
#content{
  width:        98%;
  clear:        both;
  text-align:   center;
  margin:       auto;
  padding:      1%;
  font-size:    18px;
}
#image1{
  width:        20%;
  height:       580px;
  float:        left;
}

ul{
  margin:          0;
  padding-left:    720px;
  overflow:        hidden;
  list-style-type: none;
}

li{
  float:           left;
  padding-left:    10px;
  padding-right:   10px;
}

li a{
  text-decoration: underline;
  color:           black;
  text-align:      center;
  margin:          auto;

}

a:hover {
  background-color: none;
  color: blue;
}
